* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

img {
    aspect-ratio: 1;
    max-width: 100%;
    padding-bottom: 20px;
}

body {
    height: 100vh;
}

/* HEADER SECTION */

.header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background-image: url(../img/wall.png);
    display: grid;
    height: 100px;
    place-content: center;
    color: black;
}

/* titotlo header */
h1 {
    font-size: 3rem;
    font-style: italic;
    font-family: "Edu Tas Beginner", "sans-serif";
}

/* photoblog section */
.main {
   overflow-y: scroll;
    height: 100vh;
    background-image: url(../img/cork.png);
}

.row {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.col {
    position: relative;
    margin-top: 50px;
    width: calc(100% / 3 - 10px);
}

.card {
    min-width: 200px;
    padding: 10px;
    background-color: white;
}


.date {
    font-weight: 600;
    color: rgb(203, 203, 203);
    font-family: "Edu Tas Beginner", "sans-serif";
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    font-family: "Sometype Mono", "monospace";
}

.col::after {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    aspect-ratio: 1;
    background-image: url(../img/pin.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Responsive */

@media screen and (max-width: 800px) {
    .col {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 510px) {
    .col {
        width: 100%;
    }
}