* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

img {
    aspect-ratio: 1;
    max-width: 100%;
    padding-bottom: 20px;
}

body {
    height: 100vh;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

/* HEADER SECTION */
.header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background-image: url(../img/wall.png);
    display: grid;
    place-content: center;
    height: 100px;
    color: black;
}

h1 {
    font-size: 3rem;
    font-style: italic;
    font-family: "Edu Tas Beginner", "sans-serif";
}

/* photoblog section */
.main {
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/cork.png);
}

.row {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.col {
    position: relative;
    margin-top: 50px;
    width: calc(100% / 3 - 10px);
    z-index: 1;
}

.col:hover {
    z-index: 10;
}

.col:hover::after {
    opacity: 0;
}

.card {
    min-width: 200px;
    padding: 10px;
    background-color: white;
    transition: transform 0.3s ease;  
}

.date {
    font-weight: 600;
    color: rgb(203, 203, 203);
    font-family: "Edu Tas Beginner", "sans-serif";
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    font-family: "Sometype Mono", "monospace";
}

.col::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    aspect-ratio: 1;
    background-image: url(../img/pin.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
        
    
}

.overlay img {
    padding-bottom: 0;
    max-width: 50%;
    height: auto;
    box-shadow: 0 0 20px;
}

.card:hover {
    transform : scale(1.05) rotateZ(30deg);



}

.close {
    z-index: 1000;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}


.hidden {
    display: none;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .col {
        width: calc(50% - 10px);
    }

    .overlay img {
        max-width: 60%;
    }
}

@media screen and (max-width: 510px) {
    .col {
        width: 100%;
    }

    .overlay img {
        
        width: 100%;
    }
}